{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class="mt-5">メモ帳アプリ</h1>
  {% for memo in object_list %}
    <div class="card bg-light shadow-sm mt-3">
      <div class="card-body">
        <h2>{{ memo.title }}</h2>
        <p>
          <a href="{% url 'memo:detail' memo.id %}">{{ memo.content }}</a>
        </p>
        <p>
          タグ:
          {% for tag in memo.tags.all %}
            <span>{{ tag.name }}</span>
          {% empty %}
            <span>タグなし</span>
          {% endfor %}
        </p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
