{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title%}{{ object|yesno:'-投稿編集,-新規作成' }}{% endblock %}

{% block content %}
<h1 class="mt-5">タグの{{object|yesno:'編集,新規作成'}}</h1>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content=object|yesno:'更新,作成' size="md" %}
</form>


<div class="mt-3">
    <a href="{% url 'memo:index'%}">{% bootstrap_button button_type="submit" button_class="btn-secondary" content="一覧ページへ戻る" size="md" %}</a>
</div>
{% endblock  %}