{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      メモ帳{% block title %}

      {% endblock %}
    </title>
    <style>
      .container {
        background-color: #efefef;
      }
    </style>
    {% bootstrap_css %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'memo:index' %}">メモ帳アプリ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if user.is_authenticated %}
                <span class="nav-link active">{{ user }}でログイン中</span>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link active">ログアウト</a>
              {% else %}
                <a href="{% url 'login' %}" class="nav-link active">ログイン</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a href="{% url 'memo:create' %}" class="nav-link active">新しいメモ</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'memo:tag_create' %}" class="nav-link active">タグの作成</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'memo:tag_list' %}" class="nav-link active">タグ一覧</a>
            </li>
          </ul>

          <form class="d-flex" method="get" action="{% url 'memo:search' %}">
            <select class="form-control me-2" name="q">
              <option value="">タグで検索</option>
              {% for tag in tags %}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}
            </select>
            <button class="btn btn-outline-success" type="submit">検索</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container py-2 mt-5">
      {% block content %}
        {% comment %}各ページのコンテンツが挿入される{% endcomment %}
      {% endblock %}
    </div>
    {% bootstrap_javascript %}
  </body>
</html>
